/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* This will remove the default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* project wide style definitions */
body {
    font-family: "Lato", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    /* #vh:sets the header to 95 percent of the viewport height always 
        bg-size cover: fits the image to the size of the viewport
        bg-postion: top makes sure when the page is moved the image cascades from the top*/
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.7),
        rgba(85, 197, 122,0.7)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
}